 <h2 class="team-title"> New Dream Team! </h2><br><br>
 <%if @errors%>
 <div class="error-div">
 <%@errors.each do |e| %>
  <p class="errors"><%=e[0]%></p><br>
 <%end%>
 <br>
 </div>
<%end%>
<div class="form">
 <%= render partial: 'form', locals: {pokemons: @pokemons, user: @user, team: @team} %> 
</div>
<br><br>
<div class="center-div">
<a href="<%=user_teams_path(current_user)%>">
<button type="button" value="Back to All Teams" class="submit-input">
    Back to All Teams
</button></a>
</div>
<style>

.errors {
    padding: 10px 2px;
    width: 350px;
    background-color: rgba(189, 198, 239, 0.6);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-family: "Chicken";
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px #e3e3e3;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

.errors:hover {
    border: 2px solid rgba(165, 177, 233, 1);
    color: rgba(165, 177, 233, 1);
}

.center-div {
  text-align: center;
  justify-content: center;
}

.create_input {
    border: 2px solid #d9dbff;
    border-radius: 10px;
    color: #5a75d1;
    font-family: "Cafe";
    box-shadow: 1px 1px 4px 1px #e8f7ff; 
}

.member {
    font-family: "Chicken";
    font-size: 25px;
    color: rgba(165, 197, 233, 1);
}

.member:hover {
    color: rgba(206, 165, 233, 1);
}

.small-space {
    padding-right: 10px;
}
.space {
     padding-right: 30px;
}

.team-title {
    text-align: center;
    font-family: "PokemonSolid";
    font-size: 39px;
    letter-spacing: 2.9px;
    color: #8ab9ff;
    -webkit-text-stroke: 1.2px #bad6ff;
}

.team-title:hover {
    color: rgba(206, 165, 233, 1);
    -webkit-text-stroke: 1.2px rgba(223, 201, 238, 1);
}

.submit-team {
    font-family: 'PokemonSolid';
    letter-spacing: 2px;
}

.form {
    text-align: center;
}

.submit-input {
    transition-duration: 0.4s;
    font-family: "PokemonSolid";
    color: rgba(189, 198, 239, 1);
    background-color: white;
    border: 2px solid #d1ceed;
    padding: 22px 26px;
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px #e8f7ff; 
}

.submit-input:hover {
    transform: scale(1.1);
    background-color: rgba(198, 206, 241, 1);
    border: 2px solid rgba(165, 177, 233, 1);
    color: white;
}

.submit-input:active {
  transform: translateY(4px);
}

.field_with_errors {
    display: inline;
}

.error-div {
    text-align: center;
}

.field_with_errors .create_input{
  border: 2px solid #f76a6a !important;
  box-shadow: 1px 1px 4px 1px #ffa3a3 !important;
}

</style>

