<h2 class="show-title">
<span class="star-one">✰</span>
<span class="star-two">✰</span>
<span class="star-three">✰</span>
<span class="span-team-name"><%= @team.name %></span>
<span class="star-four">✰</span>
<span class="star-five">✰</span>
<span class="star-six">✰</span>
</h2>
<br><br><br><br>
<%#binding.pry%>
<div class="show-grid">
<% @pokemons.each do |poke|%>
<div class="container">
<a href="<%=pokemon_path(poke)%>" class="poke-link">
<img src="<%=poke.image%>" class="show-image">
<div class="overlay"><%=poke.name%></div>
</a>
</div>
<%end%>
</div>

<style>

.show-title {
    font-size: 50px;
    text-align: center;
    font-family: "PokemonSolid";
    letter-spacing: 10px;
    color: #9f98d6;
    -webkit-text-stroke: 2px #6a60b5;
}

.show-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 70px;
  column-gap: 70px;
  text-align: center;
  justify-content: center;
}

.show-image {
  display: block;
  width: 340px;
  height: auto;
  box-shadow: 3px 4px 9px 7px #f7faff;
  border-radius: 155px;
}

.container {
  box-sizing: border-box;
}

.poke-link {
  text-decoration: none;
}

.overlay {
  position: relative;
  top: 5%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  -webkit-text-stroke: 2px #578cff;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "PokemonSolid";
  border-radius: 55px;
}

.container:hover .overlay {
  opacity: 1;
  transform: scale(1.07);
  transition: 1s ease-in-out;
}

.container:hover .show-image {
  opacity: 1;
  transform: scale(1.07);
  transition: 0.5s ease-in-out;
  
}

.span-team-name:hover {
    color: #acd97c;
    -webkit-text-stroke: 2px #7eb048;
}

.star-one:hover {
    color:#ff6666;
}

.star-two:hover {
    color:#ffa166;
}

.star-three:hover {
    color:#ffd166;
}

.star-four:hover {
    color:#91d9ff;
}

.star-five:hover {
    color:#a8abff;
}

.star-six:hover {
    color:#e7bfff;
}
</style>



