<h2>Login Here to Continue</h2>
<div class="error-div">
<% @errors && @errors.each do |e|%>
<%=e%><br>
<%end%>
</div>

<%= render partial: "/users/form", locals: {user: :user} %>

<style>
.field_with_errors {
    display: inline;
}

.error-div {
    text-align: center;
}

.field_with_errors .create_input{
  border: 2px solid #f76a6a !important;
  box-shadow: 1px 1px 4px 1px #ffa3a3 !important;
}

</style>