<h1 class="movie-header">All Movies</h1>
<br><br><br><br>
<div class="movie-index">
<br><br>
<% @movies.each do |movie| %>
<p class="movie-title"><%= link_to movie.title, movie_path(movie) %> </p>
<%end%>
<br><br>
</div>

<style>

.movie-header {
    text-align: center;
    color: #b54cb2;
    font-family: "PokemonSolid";
    -webkit-text-stroke: 1.8px #571154;
    font-size: 50px;
    letter-spacing: 3px;
}

.movie-header:hover {
    color: #58b09b;
    -webkit-text-stroke: 1.8px #327d6b;
}

.movie-index {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
    background-color: rgba(220, 206, 223, 0.47);
}

a {
    text-decoration: none;
}
.movie-title {
    font-family: "Chicken";
    font-size: 20px;
}


</style>