<div>
<%= button_to "Continue My Pokemon Journey", login_path%>
<br><br>
<%= button_to "Start My Pokemon Journey", new_user_path %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>