<div class="signup-form">
<p class="signup-title">Start your Pokemon journey now!</p><br><br>
<div class="form-pics">
<img src="/assets/eevee1.png" class="form-line">
<img src="/assets/char1.png" class="form-line">
<img src="/assets/poly1.png" class="form-line">
<img src="/assets/squir1.png" class="form-line">
<img src="/assets/snorlax1.png" class="form-line">
<img src="/assets/pika1.png" class="form-line">
</div><br><br>
<div class="signup-div">
<br><br><br>
<%= render partial: 'form', locals: {user: @user}%>
<br>
</div>
<br><br><br>
<div class="form-pics">
<img src="/assets/eevee1.png" class="form-line">
<img src="/assets/char1.png" class="form-line">
<img src="/assets/poly1.png" class="form-line">
<img src="/assets/squir1.png" class="form-line">
<img src="/assets/snorlax1.png" class="form-line">
<img src="/assets/pika1.png" class="form-line">
</div>
</div>
<style>

.signup-div {
    background-color: rgba(188, 229, 251, 0.35);
    width: 500px;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 2px #f0f0f0;
    border-radius: 300px;
}

.form-line {
    width: 100px;
    padding-right: 8px;
}

.form-line:hover {
    transform: scale(1.1);
}


.signup-title {
    font-family: "PokemonSolid";
    letter-spacing: 4px;
    font-size: 40px;
    color: #7ab4ff;
    -webkit-text-stroke: 1.5px #96c4ff;
}

.signup-form {
    text-align: center;
}

.form-pics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
</style>