<img src="<%=@user.image if @user.image %>" class="propic">
<br><br><br>
<h2 class="greeting">It's great to see you, Trainer <%=@user.name%>!</h2>
<br>
<h2 class="greeting-two"><%="Today is #{@t.strftime('%A, %B %d, %Y')}. It is currently #{@t.strftime('%l')}:#{@t.strftime('%M %p')}."%></h2>

<style>

.propic {
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
    text-align: center;
    display: block;
    width: 200px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #708ffa; }
}

.greeting {
    text-align: center;
    max-width: 900px;
    /* font-family: "PokemonSolid"; */
    border-right: .15em solid red;
    margin: 0 auto;
    letter-spacing: 3px;
    color: #6277bd;
    padding-top: 5em;
    white-space: nowrap;
    padding: 20px;
    overflow: hidden;
    animation: 
    typing 5.5s steps(120, end),
    blink-caret .8s infinite;
}

.greeting-two{
    text-align: center;
    max-width: 1150px;
    /* font-family: "PokemonSolid"; */
    border-right: .15em solid red;
    margin: 0 auto;
    letter-spacing: 3px;
    color: #6277bd;
    padding-top: 5em;
    white-space: nowrap;
    padding: 20px;
    overflow: hidden;
    animation: 
    typing 5.5s steps(120, end),
    blink-caret .8s infinite;
}

</style>