<%# <h1 class="h1"> All Pokemon </h1> %>

<div class="display-box">
<% @pokemons.each do |p| %>
<div class="container">
  <a href="<%=pokemon_path(p)%>" class="poke-link"> <img src="<%=p.image%>" class="image">
    <div class="overlay"><%=p.name%></div> </a>
</div>
<% end %>
</div>


<style>
@font-face {
  font-family: 'PokemonSolid';
  src: url('/assets/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */

.display-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
  /* display: inline-grid; */
}

.container {
  /* width: 80%; */
  box-sizing: border-box;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 5px #ebebeb;
  border-radius: 55px;
}

.poke-link {
  text-decoration: none;
}

.overlay {
  position: relative;
  top: 5%;
  /* bottom: 30; */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(196, 196, 196, 0.5);  */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  -webkit-text-stroke: 2px #578cff;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "PokemonSolid";
  border-radius: 55px;
}

.bottom {
  /* width: 50%; */
      /* height: 50%; */
      /* top:50%; */
      /* margin: 0 auto; */
}

.container:hover .overlay {
  opacity: 1;
  transform: scale(1.07);
  transition: 1s ease-in-out;
}

.container:hover .image {
  opacity: 1;
  transform: scale(1.07);
  transition: 1s ease-in-out;
}


</style>