

<div class="display-box">
<% @pokemons.each do |p| %>
<div class="container">
  <a href="<%=pokemon_path(p)%>" class="poke-link"> <img src="<%=p.image%>" class="image">
    <div class="overlay"><%=p.name%></div> </a>
</div>
<% end %>
</div>


<style>

@font-face {
  font-family: 'PokemonSolid';
  src: url('/assets/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {box-sizing: border-box}

.display-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
}

.container {
  box-sizing: border-box;
}

.image {
  display: block;
  width: 280px;
  height: auto;
  box-shadow: 3px 4px 9px 7px #f7faff;
  border-radius: 55px;
}

.poke-link {
  text-decoration: none;
}

.overlay {
  position: relative;
  top: 5%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  -webkit-text-stroke: 2px #578cff;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "PokemonSolid";
  border-radius: 55px;
}

.container:hover .overlay {
  opacity: 1;
  transform: scale(1.07);
  transition: 0.5s ease-in-out;
}

.container:hover .image {
  opacity: 1;
  transform: scale(1.07);
  transition: 1s ease-in-out;

}

</style>